In [1]:
import pandas as pd

##### 1. 타이타닉호 승객 데이터 읽어오기

In [4]:
train = pd.read_csv('train.csv', index_col='PassengerId')

In [7]:
train.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

##### 2. 각 컬럼병 데이터 개수 확인

In [9]:
train.shape

(891, 11)

In [8]:
train.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

##### 3. 승객 중 성별 인원수, 선실별 인원수, 사망/생존별 인원수, 나이별 인원수 구하기

In [10]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [16]:
train['Pclass'].value_counts().sort_index()

1    216
2    184
3    491
Name: Pclass, dtype: int64

In [17]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [18]:
train['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

##### 3. 나이정보 카테고리 만들기

In [21]:
ages = train['Age']
bins = [0, 15, 25, 35, 60, 99] # 구간
# 구간 -> 초과 ~ 이하
labels = ['미성년자', '청년', '중년', '장년', '노년'] # 구간의 이름
# 1~15 - 미성년자, 16~25 - 청년, 26~35 - 중년, 36~60 - 장년, 61~99 - 노년

cats = pd.cut(ages, bins, labels=labels)

In [22]:
train['Cats'] = cats

In [23]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cats
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,청년
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,장년
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,중년
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,중년
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,중년

In [26]:
train['Cats'].value_counts()

청년      218
중년      196
장년      195
미성년자     83
노년       22
Name: Cats, dtype: int64

##### 4. 타이타닉호 승객을 사망자와 생존자로 나누고 각 그룹에 대한 나이대별 비율 구하기

In [76]:
# 생존자
survived1 = train[train['Survived']==1]
survived1['Cats'].value_counts() / survived1['Cats'].count()
#dead = train['Survived']==0

중년      0.286207
장년      0.268966
청년      0.258621
미성년자    0.168966
노년      0.017241
Name: Cats, dtype: float64

In [80]:
# 사망자
survived0 = train[train['Survived']==0]
survived0['Cats'].value_counts() / survived0['Cats'].count()

청년      0.337264
장년      0.275943
중년      0.266509
미성년자    0.080189
노년      0.040094
Name: Cats, dtype: float64

In [81]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [82]:
survived1['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64

In [83]:
train['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [84]:
survived1['Pclass'].value_counts()

1    136
3    119
2     87
Name: Pclass, dtype: int64